# Ignorar checkpoints de Jupyter
*.ipynb_checkpoints/

# Archivos temporales
*.tmp
*.log

# Datos crudos pesados (sube solo ejemplos chicos)
# data_raw/*
# !data_raw/ejemplo_muestra.csv

# Archivos del sistema
.DS_Store
Thumbs.db
.venv/
__pycache__/
*pyc
,DS_Store
Thumbs.db
